<h1><%= @page_title %></h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sed leo bibendum urna faucibus ullamcorper. Duis condimentum mi sed lacus facilisis, ut convallis sem convallis. Quisque libero ex, gravida sit amet faucibus imperdiet, vehicula sed diam. Aenean rhoncus luctus felis, at porttitor diam rhoncus sed. Mauris pharetra non ipsum ut pellentesque. Integer vel maximus ex. Mauris rhoncus luctus pulvinar. Aenean luctus vel velit non vulputate. In ullamcorper tempor nisi. Morbi ullamcorper tortor sed ex pharetra, et vulputate odio interdum. Nulla facilisi. Donec varius commodo molestie. Phasellus nibh ex, tincidunt vitae augue ut, finibus volutpat sem. Cras nulla magna, commodo nec mollis et, bibendum in nulla. Pellentesque efficitur malesuada ligula eget varius. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>


